@import url('https://fonts.googleapis.com/css?family=Coustard|Dosis|Michroma|Podkova:600');

// Fonts
$michroma: 'Michroma', sans-serif;
$coustard: 'Coustard', serif;
$podkova: 'Podkova', serif;
$dosis: 'Dosis', sans-serif;
