@import url('https://fonts.googleapis.com/css?family=Coustard|Dosis|Michroma|Podkova:400,600');

// Fonts
// $michroma: 'Michroma', sans-serif;
// $coustard: 'Coustard', serif;
// $podkova: 'Podkova', serif;
// $dosis: 'Dosis', sans-serif;

h1 {
  @extend .michroma;
  font-size: rems(22);
  letter-spacing: 0;
  line-height: rems($base-height-size*4);
  margin-bottom: rems($base-height-size*2);
}

h2 > p
{
  @extend .michroma;
  font-size: rems(14);
  line-height: rems($base-height-size*2.5);
  margin-bottom: rems($base-height-size*2);
  text-align:right;
}

code{ background-color:rgba(255,255,255,.8); color:$black; padding:rems(3); border-radius:rems(3);}

p{
  @extend .coustard;
  font-size: rems(14);
  letter-spacing: rems(1);
  line-height: rems($base-height-size*2.35);
  margin:rems($base-height-size*2) 0;
}
