/*-------------------------VARIABLES--------------------------------*/

// Mobile media queries variables
$break-mobile: 420px;
$break-small: 767px;
$break-small-medium: 900px;
$break-medium: 1025px;
$break-large: 1366px;

// Colors
$black:#222;
$bg-green:#6ca0b0;
$bg-green-light:#86bac0;
$purple:#f0f;
$white:#efefef;

// fonts
$michroma: 'Michroma', sans-serif;
$coustard: 'Coustard', serif;
$podkova: 'Podkova', serif;
$dosis: 'Dosis', sans-serif;

// Measurements
$base-font-size:16;
$baseFontSize:$base-font-size+px;
$base-height-size:8;
$baseHeightSize:$base-height-size+px;
$fleckDim: ($base-height-size*2.5);

// Transitions
$trans-dur: 0.35s;
$smooth: cubic-bezier(0.4, 0, 0.2, 1);
$sharp: cubic-bezier(0.7, 0, 0.3, 1);

/*-----------------------END VARIABLES------------------------------*/


/*---------------------------MIXINS---------------------------------*/
@mixin box-shadow($top, $left, $blur, $size, $color, $inset: false)
{
    @if $inset
    {
        -webkit-box-shadow:inset $top $left $blur $size $color;
        -moz-box-shadow:inset $top $left $blur $size $color;
        box-shadow:inset $top $left $blur $size $color;
    }@else{
        -webkit-box-shadow: $top $left $blur $size $color;
        -moz-box-shadow: $top $left $blur $size $color;
        box-shadow: $top $left $blur $size $color;
    }
}

@mixin rounded($radius:5)
{
  $r:rems($radius);
  -webkit-border-radius: $r;
  -moz-border-radius: $r;
  border-radius: $r;
}

@mixin opacity($amt:1)
{
  $winAmt: $amt*10;
  opacity: $amt;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$winAmt+")";
}

@mixin trans($prop, $duration:$trans-dur, $ease:$smooth)
{ transition: $duration $ease $prop; }
/*-------------------------END MIXINS-------------------------------*/


/*-------------------------FUNCTIONS--------------------------------*/
@function rems($pxsize) {
    @return ($pxsize/$base-font-size)+rem;
}
/*-----------------------END FUNCTIONS------------------------------*/


/*-------------------------EXTENSIONS--------------------------------*/
//DEVELOPMENT
.debug{ background-color:rgba(255,0,0,.3) !important; }

//FONTS
.michroma{ font-family: $michroma; font-weight: 400; }
.coustard{ font-family: $coustard; font-weight: 400; }
.podkova{ font-family: $podkova; font-weight: 400; }
.dosis{ font-family: $dosis; font-weight: 400; }
/*-----------------------END EXTENSIONS------------------------------*/
