<div class="category-filters">
{% for k,v in site.categoryfilters %}
  <div class="category-filter">
    <div class="fleck -{{ strtolower(k) }} -{{ strtolower(k) }}"></div>
    <span class="filter">{{ strtolower(k) }}</span>
  </div>
{% endfor %}
</div>
