<div class="category-filters">
{% for k,v in site.categoryfilters %}
  <div class="category-filter -{{ strtolower(k) }}">
    <div class="fleck -{{ strtolower(k) }} _fleft"></div>
    <span class="filter">{{ strtolower(k) }}</span>
  </div>
{% endfor %}
</div>
