{% set collection = page.collection() %}

{% block content %}
	{% set blog_image = page.media.images|first.grayscale().contrast(20).brightness(-100).colorize(-35,81,122) %}
	{% set focusedItm = page.find(focused_item()).route %}

	{% if blog_image %}
		<div class="flush-top blog-header blog-header-image" style="background-image: url({{ blog_image.url }});">
	{% else %}
		<div class="blog-header">
	{% endif %}

	<h2>{{ page.find(focusedItm).title }}</h2>
	<br/>
	{{ page.find(focusedItm).content }}
</div>

{% endblock %}
