<div class="timeline-wrapper">
  {% for p in page.collection %}
    {% if p.header.taxonomy.category[0] != 'Page' %}
      <div class="timeline-link">
        <div class="fleck -{{strtolower(p.header.taxonomy.category[0])}} _fleft"></div>
        <div class="_fright">
          <a href="/focus/{{p.slug}}">
            <span class="linkdate">{{p.published_at|date('Y.m.d')}}</span> &bull; <span class="linktitle">{{ p.title }}</span>
          </a>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>
