*
{
  box-sizing:border-box;
  text-decoration:none;
}

body,html
{
  background-color:$bg-green;
  font-size:rems($base-font-size);
  position:relative;
}

a
{
  @extend .michroma;
  font-size:rems(14);
}

em,i{ font-style: italic; }

@import './categoryfilters';
@import './fleck';
@import './timeline';
@import './content';
@import './footer';
