.category-filters
{
  bottom:rems(-40);
  position:relative;

  > .category-filter
  {
    @extend .michroma;
    color:$white;
    display:none;
    position:relative;

    &[data-category="tags"]
    {
      display:inline-block;
      opacity:.85;

      svg{ display:inline-block; }
    }

    a
    {
      @extend .michroma;
      color:$white;
      display:none;
      &:hover{ color:$black; }
    }
  }
  &:hover
  {
    background-color:$bg-green-light;

    > .category-filter
    {
      display:block;

      a,svg
      {
        display:inline;
        &:hover
        {
          background-color:transparent;
          cursor:pointer;
        }
      }
      svg{ display:inline-block; }
    }

    ~ .catfilter-close
    {
      color:$white;
      display:block;
      &:hover{ color:$black; }
    }

    .filters{ display:block; }
  }
}

.catfilter-close
{
  background-color:$bg-green-light;
  border:0;
  border-radius:3px;
  color:$white;
  display:none;
  float:right;
  margin-top:-315px;
  padding-bottom: 13px;
  padding-top: 7px;
}
