.category-filters
{
  bottom:rems(-40);
  position:relative;

  > .category-filter
  {
    display:none;
    position:relative;

    &[data-category="tags"]
    {
      display:inline-block;
      opacity:.85;

      svg{ display:inline-block; }
    }

    a
    {
      @extend .michroma;
      color:$white;
      display:none;
      &:hover{ color:$black; }
    }
  }
  &:hover
  {
    background-color:$bg-green-light;

    > .category-filter
    {
      display:block;
      a{ display:inline; }
      svg{ display:inline-block; }
    }

    ~ .catfilter-close{ display:red; }

    .filters{ display:block; }
  }
}

.catfilter-close
{
  background-color:$bg-green-light;
  border:0;
  border-radius:3px;
  color:$white;
  // display:none;
  float:right;
  margin-top:-100px;
  padding-bottom: 13px;
  margin-right:-9;
  padding-top: 7px;
}
