.full-filters,
.settings{ display:none; }

.portfolio-wrapper
{
  > .portfolio-content
  {
    grid-area: content;

    > .content-wrapper
    {
      background-color:$black;
      flex-grow:1;

      > article
      {
        color:$white;
        margin:0 auto;
        padding:rems(20) 0;
        width:75%;
        > .blog-content
        {
          > p:first-child{ margin-top:0; }
          > .summary{ height:rems(10); visibility:hidden; }
        }

        > .blog-header
        {
          @extend .podkova;
          font-size:rems(22);

          h2.summary{ display:block; }
        }
      }
    }
  }
  > .navspacer
  {
    background:$bg-green-light;
    bottom:rems(40);
    grid-area: spacer;
    position:absolute;
    width:100%;
    z-index:10;

    .category-filter
    {
      padding:rems(10) rems(25);
      .fleck{ margin-right:rems(10); vertical-align:middle; }

      :hover{ background-color: $bg-green; }
    }
  }
}
