.full-filters,
.settings{ display:none; }

.portfolio-wrapper
{
  // height:96%;//turn to auto on media query
  // overflow:scroll;//turn to auto on media query
  > .portfolio-content
  {
    grid-area: content;
    // height:100%;//turn to auto on media query

    > .content-wrapper
    {
      background-color:$black;
      flex-grow:1;

      > article
      {
        color:$white;
        margin:0 auto;
        padding:rems(20) 0;
        width:75%;
        > .blog-content
        {
          > p:first-child{ margin-top:0; }
          > .summary{ height:rems(10); visibility:hidden; }
        }

        > .blog-header
        {
          @extend .podkova;
          font-size:rems(22);

          h2.summary{ display:block; }
        }
      }
    }
  }
  > .nav-spacer
  {
    background:rgba(255,0,0,.8);
    display:none;
    grid-area: spacer;
  }
}
