@media screen and (min-width: $break-mobile) {
  // :root { --base-font-size: 4px; }//example
  .portfolio-wrapper {
    display: grid;
    grid-gap: 0;
    grid-template-columns: auto 65px;
    grid-template-areas: "content spacer";

    > .portfolio-content {
      display: flex;
    }
  }
}
